{% extends 'base.html' %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <h1>Сброс пароля</h1>
    <p>Ведите свой email, чтобы получить ссылку для сброса пароля.</p>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post" class="reg-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <button type="submit"
            style="background:#0d6efd; border:none; padding:10px 18px; border-radius:6px; color:white; cursor:pointer;">
            Отправить ссылку
        </button>

        <div style="margin-top:15px;">
            <a href="{% url 'users:login' %}" style="color:#0d6efd; text-decoration:none;">
                Войти
            </a>
        </div>
    </form>
{% endblock %}